h1{
	font-weight: 800;
    font-size: 50px;
    text-align: center;
}
td{
	width: 100px;
	height:100px;
	
}
.vertical{
	border-right: 1px solid black;
	
}
.horizontal{
	border-bottom: 1px solid black;
}
table{
	margin: auto;
}